// 게시판 페이징 (story 스타일로 적용)
.board-paging {
  text-align: center;
  display: block;
  color: rgba(0, 0, 0, 0.4);
  line-height: 32px;
  vertical-align: middle;

  &__box {
    display: none;
    font-weight: bold;
    vertical-align: middle;

    &-items {
      font-size: 1rem;
      font-weight: bold;
    }

    &--simple {
      display: inline-block;

      .paging-item {
        border: 0;
        line-height: unset;
        width: auto;
        height: auto;

        &--active {
          border: 0;
        }
      }
    }
  }

  .paging-item {
    display: inline-block;
    margin: 0 2px;
    width: 32px;
    height: 32px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    text-align: center;
    // line-height: 32px;
    line-height: 31px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.2);

    &[href]:hover,
    &[href]:focus,
    &--active {
      // color: #4fa5ee;
      // border-color: #4fa5ee;
      color: #345bd9;
      border-color: #345bd9;
    }

    &--prev,
    &--next {
      // border: 0;

      i {
        vertical-align: middle;
        font-weight: bold;
        font-size: 1.4rem;
      }

      &:hover {
        // border: 0;
      }
    }
  }

  .paging {
    &__box--normal {
      display: none;
    }

    &__box--simple {
      display: inline-block;
    }

    &-item {
      &--prev,
      &--next {
        border: 1px solid rgba(0, 0, 0, 0.2);
      }

      &--prev {
        float: left;
      }

      &--next {
        float: right;
      }
    }
  }
}

@include mobile {
  
}

@include tablets {
  
}

@include pc {
  // tablet 에서 변경될 때 tablet 으로 옮김
  .board-paging {
    .paging {
      display: block;
      text-align: center;

      &__box {
        display: inline-block;

        &--simple {
          display: none;
        }
      }

      &-item {
        &--prev,
        &--next {
          float: none;
        }
      }
    }
  }
}
  