{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": [
          "last 3 versions",
          "ie >= 9"
        ],
        "useBuiltIns": "usage",
        "corejs": {
          "version": 3
        }
      }
    ]
  ]
}
