.xe-content .cke_editable {
  font-family: "Roboto", 'Noto Sans KR', "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, '돋움', Helvetica, sans-serif;
}
.xe-content .cke_editable h1 {
  font-size: 38px;
  font-weight: 300;
  letter-spacing: -0.76px;
  color: #212121;
}

.xe-content .cke_editable h2,
.xe-content .cke_editable h3,
.xe-content .cke_editable h4,
.xe-content .cke_editable h5,
.xe-content .cke_editable h6 {
  font-weight: 300;
  color: #212121;
}

.xe-content .cke_editable p {
  color: #212121;
}
