/* header : id="header" 내부 css */
.header--expand-menu {
  position: fixed;
  width: 100%;
  // padding: 0 24px;
  padding: 0 15px;
  line-height: 24px;
  background-color: #fff;
  z-index: 90;
  // font-family: Avenir;
  transition: box-shadow 0.2s ease-in-out;

  &.sticky {
    // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 1px -1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.1);
  }

  a {
    outline: none;
  }

  .header-inner-box {
    position: relative;

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  // 로그인, 회원가입 영역 공통
  .header-button-box {
    .header-button-login {
      position: relative;
      display: inline-block;
      padding: 0 8px;
      font-size: 13px;
      line-height: 24px;
      text-decoration: none;
      color: #707070;

      &:hover {
        color: #091e42;
      }

      + .header-button-login {
        &::before {
          content: '';
          position: absolute;
          top: 6px;
          left: -2px;
          width: 1px;
          height: 9px;
          background-color: #b3bac5;
        }
      }
    }
  }

  .header-login-info {

  }

  // 사용자 이미지, 닉네임, 관리자 버튼 영역
  .header-login-user {
    display: block;
    padding-bottom: 13px;
    border-bottom: 1px solid #dfe1e6;

    .header-login-user__link {
      display: block;
      text-decoration: none;

      &::after {
        content: '';
        display: block;
        clear: both;
      }

      .header-login-user__thumb {
        float: left;
        width: 56px;
        height: 56px;
        margin-right: 16px;
        border-radius: 56px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 56px 56px;
      }

      .header-login-user__nick-box {
        overflow: hidden;
        display: flex;
        align-items: center;
        height: 56px;

        .header-login-user__nick-text {
          max-height: 56px;
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          -webkit-line-clamp: 2;
          overflow: hidden;
          display: block;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          color: #000;
        }
      }
    }

    .header-login-user__link-admin {
      display: inline-block;
      margin-left: 72px;
      padding: 4px 12px;
      border-radius: 3px;
      font-size: 12px;
      line-height: 20px;
      font-weight: 500;
      text-decoration: none;
      background-color: #f4f5f7;
      color: #555;
    }
  }

  // 유저 링크 리스트
  .header-login-user-list {
    padding: 16px 0 14px;
    margin: 0;
    list-style: none;

    > li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .header-login-user-list__link {
      display: block;
      padding: 5px 0 3px;
      font-size: 16px;
      line-height: 25px;
      color: #555;
      text-decoration: none;
    }
  }

  .header-content--pc {
    display: none;
  }

  .header-content--mobile {
    display: block;

    .header-info {
      position: relative;
      display: flex;

      .header-info-logo {
        width: 217px;
        margin: 0;
        padding: 5px 0;

        .header-info-logo__link {
          display: inline-block;
        }

        .header-info-logo__image {
          max-width: 166px;
          max-height: 57px;
        }
      }
    }

    .header__button-menu {
      display: block;
      position: absolute;
      top: 19px;
      right: -7px;
      width: 32px;
      height: 32px;
      padding: 0;
      border: 0 none;
      cursor: pointer;
      background-color: #fff;
      background: url(../img/icon-menu.svg) 50% 50% no-repeat;
    }

    // 모바일 메뉴 레이어
    .header-info-layer {
      visibility: hidden;
      overflow-y: auto;
      position: fixed;
      top: 0;
      right: -80%;
      width: 80%;
      height: 100%;
      padding: 20px 45px 20px 20px;
      z-index: 110;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      background-color: #fff;

      &.open {
        visibility: visible;
        right: -25px;
        opacity: 1;
      }

      .header-more-info-box {
        &::after {
          content: '';
          display: block;
          clear: both;
        }

        // float 적용된 영역 해제하기 위해 담는 박스
        .header-more-info-box--clear {
          &::after {
            content: '';
            display: block;
            clear: both;
          }
        }
      }

      // 예약조회 링크
      .header-more-info__link {
        float: left;
        display: inline-block;
        padding: 0 8px;
        font-size: 13px;
        line-height: 24px;
        text-decoration: none;
        color: #707070;

        &:hover {
          color: #091e42;
        }

        &:first-child {
          padding-left: 0;
        }
      }

      .header-button-box {
        float: right;
      }

      // 예약하기 버튼
      .header-info-layer__button {
        display: block;
        margin: 0;
        padding: 12px 0;
        border: 0 none;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        clear: both;
        background-color: #212121;
        color: #fff;
      }

      /* 1뎁스 메뉴 */
      .header-gnb {
        padding-top: 30px;
        padding-bottom: 30px;

        .header-gnb-list {
          margin: 0;
          padding: 0;
          list-style: none;

          > li {
            position: relative;
            margin: 16px 0 0;
            padding: 0;
            line-height: 28px;
            list-style: none;

            &.on,
            &.gnb__submenu--on {
              .header-gnb-list__link {
                color: #345bd9;

                i {
                  color: #345bd9;
                }
              }
            }

            &:first-child {
              margin-top: 0;
            }
          }

          .header-gnb-list__link-text {
            position: relative;
            display: inline-block;
          }

          a {
            i {
              display: none;
              position: absolute;
              top: 50%;
              right: -20px;
              margin-top: -8px;
              padding-left: 3px;
              color: #b0b6c1;
            }
          }

          .header-gnb-list__link--target-blank {
            i {
              display: inline-block;
            }
          }
        }

        .header-gnb-list__link {
          position: relative;
          display: inline-block;
          font-size: 17px;
          font-weight: 500;
          line-height: 28px;
          color: #000;
          text-decoration: none;

          &:hover {
            color: #345bd9;
          }
        }
      }
      /* //1뎁스 메뉴 */

      /* 2뎁스 메뉴 */
      .header-gnb-list-depth {
        margin: 7px 0 0;
        padding: 0;
        background-color: #fff;
        list-style: none;

        > li {
          width: 100%;
          padding-left: 15px;
          list-style: none;

          &:first-child {
            margin-top: 0;
          }

          &.on {
            .header-gnb-list-depth__link {
              color: #345bd9;

              i {
                color: #345bd9;
              }
            }
          }
        }

        .header-gnb-list-depth__link {
          position: relative;
          display: inline-block;
          padding: 5px 0 3px;
          font-size: 16px;
          line-height: 25px;
          color: #555;
          text-decoration: none;

          &:hover {
            color: #345bd9;

            i {
              color: #345bd9;
            }
          }
        }
      }
      /* //2뎁스 메뉴 */
    }

    /* 모바일 메뉴 딤드 */
    .header-info-layer-dimmed {
      visibility: hidden;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 100%;
      right: 0;
      z-index: 100;
      background-color: rgba(0,0,0,0.6);
      transition: opacity, 0.3s ease-in-out, left 0.3s step-end;
      opacity: 0;

      &.open {
        visibility: visible;
        opacity: 1;
        left: 0;
        transition: opacity, 0.3s ease-in-out, left 0.3s step-start;
      }
    }
  }
}

// @include tablets {}
@include pc {
  .header--expand-menu {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 56px;
    // line-height: 90px;

    .header-inner-box {
      padding-left: 40px;
      padding-right: 40px;
      max-width: 1680px;
      margin: 0 auto;
    }

    .header-content--mobile {
      .header-info-layer {
        width: 50%;
      }
    }
  }
}

@include pc-wide {
  .header--expand-menu {
    .logo {
      margin-right: 110px;
    }

    .gnb__menu {
      padding: 0;

      > li {
        margin-left: 40px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .header--expand-menu {
    .header-inner-box {
      position: relative;

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .header-content--pc {
      display: block;

      .header-button-box {
        display: inline-block;
      }

      .header-more-info {
        position: relative;
        padding: 8px 0;
        text-align: right;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 100vw;
          transform: translateX(-50%);
          height: 1px;
          background-color: rgba(0, 0, 0, 0.1);
        }

        .header-more-info-lang {
          display: inline-block;
          padding: 12px 0;

          .header-more-info-lang__link {
            display: inline-block;
            padding: 0 9px;
            font-size: 13px;
            line-height: 24px;
            text-decoration: none;
            color: #707070;

            &:hover,
            &:focus,
            &.on {
              color: #212121;
            }

            + .header-more-info-lang__link {
              position: relative;

              &::before {
                content: '';
                position: absolute;
                top: 9px;
                left: -2px;
                width: 2px;
                height: 2px;
                border-radius: 2px;
                background-color: #cdcdcd;
              }
            }
          }
        }

        .header-more-info__reservation {
          position: relative;
          display: inline-block;
          margin-left: 12px;
          padding: 0 8px;
          font-size: 13px;
          line-height: 24px;
          text-decoration: none;
          color: #707070;

          &::before {
            content: '';
            position: absolute;
            top: 9px;
            right: -3px;
            width: 2px;
            height: 2px;
            border-radius: 2px;
            background-color: #cdcdcd;
          }

          &:hover {
            color: #091e42;
          }
        }
      }

      .header-info {
        position: relative;
        display: flex;

        &::before {
          content: '';
          position: absolute;
          top: 72px;
          left: 50%;
          width: 100vw;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          height: 1px;
          background-color: rgba(0,0,0,0.1);
        }

        .header-info__link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 166px;
          height: 44px;
          padding: 10px 5px;
          margin-top: 14px;
          font-size: 15px;
          line-height: 24px;
          font-weight: 500;
          text-align: center;
          text-decoration: none;
          background-color: #212121;
          color: #fff;
        }

        .header-info-logo {
          width: 170px;
          margin: 0;
          padding: 5px 0;

          .header-info-logo__link {
            display: inline-block;
          }

          .header-info-logo__image {
            max-width: 166px;
            max-height: 57px;
            vertical-align: top;
          }
        }

        .header-gnb {
          overflow: hidden;
          flex: 1;
          max-height: 72px;

          &.header-gnb--right {
            .header-gnb-list {
              justify-content: flex-end;
              padding-right: 28px;
            }
          }

          &.open {
            .header-gnb-list {
              &::before {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              }
            }
          }

          .header-gnb-list {
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            list-style: none;
            // transition: all 0.3s ease;

            &::before {
              content: '';
              position: absolute;
              top: 73px;
              left: 50%;
              width: 100vw;
              height: calc(100% - 72px);
              transform: translateX(-50%);
              background-color: #fff;
            }

            &::after {
              content: '';
              display: block;
              clear: both;
            }

            ul,
            li {
              margin: 0;
              padding: 0;
              list-style: none;
            }

            a {
              i {
                display: none;
                position: absolute;
                top: 50%;
                right: -17px;
                margin-top: -8px;
                padding-left: 3px;
                color: #b0b6c1;
              }
            }

            .header-gnb-list__link-text {
              position: relative;
              display: inline-block;
            }

            .header-gnb-list__link--target-blank {
              i {
                display: inline-block;
              }
            }

            > li {
              position: relative;
              flex: 0 0 140px;
              width: 140px;

              .header-gnb-list__link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 72px;
                font-size: 15px;
                line-height: 28px;
                text-decoration: none;
                outline: none;
                color: #000;

                .header-gnb-list__link-text {
                  position: relative;
                  text-align: center;
                }
              }

              // &:first-child {
              //   .header-gnb-list-depth {
              //     border-left: 1px solid #dbdbdb;
              //   }
              // }
            }

            .header-gnb-list-depth {
              position: relative;
              display: block;
              height: calc(100% - 72px);
              margin-left: -1px;
              padding: 28px 5px;
              border-right: 1px solid #dbdbdb;
              border-left: 1px solid #dbdbdb;
              overflow: hidden;

              > li {
                &.on {
                  .header-gnb-list-depth__link {
                    color: #000;
                  }
                }
              }

              .header-gnb-list-depth__link {
                display: block;
                padding: 6px 14px;
                font-size: 14px;
                line-height: 24px;
                text-decoration: none;
                text-align: center;
                color: #707070;

                &:hover,
                &:focus {
                  color: #000;
                }
              }
            }
          }
        }
      }

      .header-login-mypage {
        display: inline-block;

        &.open {
          .header-login-info__more-info {
            height: auto;
            border: 1px solid #ececec;
            opacity: 1;
            visibility: visible;
            z-index: 10;
          }
        }

        .header-login-mypage__button-box {
          .header-login-mypage__button {
            margin: 0;
            padding: 0;
            border: 0 none;
            background-color: transparent;
            cursor: pointer;
            outline: none;

            &.header-login-mypage__button--type-text {
              position: relative;
              display: inline-block;
              padding: 0 8px;
              font-size: 13px;
              line-height: 24px;
              text-decoration: none;
              color: #707070;

              &:hover {
                color: #091e42;
              }

              &::before {
                content: '';
                position: absolute;
                top: 7px;
                left: -2px;
                width: 1px;
                height: 9px;
                background-color: #b3bac5;
              }
            }

            &.header-login-mypage__button--type-image {
              overflow: hidden;
              display: inline-block;
              width: 32px;
              height: 32px;
              margin-right: 0;
              border-radius: 32px;
              background-size: 32px 32px;
              background-position: 50% 50%;
              background-repeat: no-repeat;
            }
          }
        }

        // pc 로그인 정보 팝업
        .header-login-info__more-info {
          overflow: hidden;
          visibility: hidden;
          position: absolute;
          top: 40px;
          right: -15px;
          width: 300px;
          height: 0;
          padding: 20px;
          margin: 0;
          border: 0;
          box-shadow: 0 0 20px 0 rgba(0,0,0,0.12);
          opacity: 0;
          transition: all 0.3s ease-in-out;
          text-align: left;
          background-color: #fff;
        }
      }
    }

    .header-content--mobile {
      display: none;
    }

    .header__button-menu {
      display: block;
    }
  }
}

@media (min-width: 1500px) {
  .header--expand-menu {
    .header-content--pc {
      .header-info {
        .header-info-logo {
          width: 217px;
        }

        .header-gnb {
          .header-gnb-list {
            > li {
              flex: 0 0 166px;
              width: 166px;
            }
          }
        }
      }
    }
  }
}


@media (min-width: 1680px) {

}
