/* snb : side navigation bar */
.theme-sidebar {
  &.list-group {
    border: 1px solid #dbdbdb;
    background-color: #f1f3f5;

    > .list-group-item.active > .list-group-item-action,
    > .list-group-item > .list-group-item-action:hover,
    > .list-group-item > .list-group-item-action:focus {
      color: #fff;
      background-color: #419bf9;
    }
    > .list-group-item > .list-group-item-action:hover,
    > .list-group-item > .list-group-item-action:focus {
      text-decoration: underline;
    }
    > .list-group-item {
      border-bottom: 1px solid #dbdbdb;
      font-size: 17px;
      &:last-child {
        border-bottom: 0;
      }
    }
    .list-group-item-action {
      display: block;
      padding: 0 24px;
      line-height: 54px;
      color: #030201;
      text-decoration: none;
    }
  }
}

.theme-sidebar {
  .list-group {
    &--sub {
      padding: 4px 0;
      background-color: #fff;

      .list-group-item {
        font-size: 14px;
        padding: 6px 0;
        line-height: 1.6;

        &.active {
          .list-group-item-action {
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }

      .list-group-item-action {
        padding-left: 30px;
        display: inline-block;
        line-height: inherit;
      }

      .list-group-item-action:hover,
      .list-group-item-action:focus {
        text-decoration: underline;
      }
    }
  }
}

