<div>
    <div class="widgetbox-content">
        <!-- 메인 슬라이드 위젯 -->
        <div class="xe-row">
            <div class="xe-col-md-12">
                <!-- main-spot 위젯 영역 -->
                <section class="widget-xe-eastern-spot-slide">
                    <!-- slick 영역 -->
                    <div class="widget-xe-eastern-spot-slide-slider __widget-xe-eastern-spot-slide-slide">
                        <!-- [D] 슬라이드 이미지 옵션으로 적용 -->
                        <div class="widget-xe-eastern-spot-slide-slider__item-box" style="background-image: url(plugins/entrada_theme/src/Components/Themes/Entrada/assets/img/xe-renewal-slide1.jpg);">
                            <div class="xe-container">
                                <div class="widget-xe-eastern-spot-slide-slider__item">
                                    <div class="widget-xe-eastern-spot-slide-slider__item-content">
                                        <!-- [D] 아이콘 이미지 없을 경우 class="widget-xe-eastern-spot-slide-slider__item-content-image-box" 영역 미노출 -->
                                        <span class="widget-xe-eastern-spot-slide-slider__item-content-image-box">
                                            <!-- [D] 로고 심볼 아이콘 이미지 옵션으로 적용, 90x48 크기 비율로 이미지 등록 되어야 된다. -->
                                            <img src="plugins/entrada_theme/src/Components/Themes/Entrada/assets/img/icon-logo-simbol.png" alt="로고 심볼 아이콘" class="widget-xe-eastern-spot-slide-slider__item-content-image">
                                        </span>
                                        <h2 class="widget-xe-eastern-spot-slide-slider__item-content-title">ENJOY YOUR DIVINE STAY</h2>
                                        <p class="widget-xe-eastern-spot-slide-slider__item-content-text">
                                            우리의 일상을 리프레쉬하고 새로운 시작을 위한 편안한 <br> 서비스를 제공하는 에오스의 빛이 머무는 곳
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-xe-eastern-spot-slide-slider__item-box" style="background-image: url(plugins/entrada_theme/src/Components/Themes/Entrada/assets/img/xe-renewal-slide2.jpg);">
                            <div class="xe-container">
                                <div class="widget-xe-eastern-spot-slide-slider__item">
                                    <div class="widget-xe-eastern-spot-slide-slider__item-content">
                                        <span class="widget-xe-eastern-spot-slide-slider__item-content-image-box">
                                            <!-- [D] 로고 심볼 아이콘 이미지 옵션으로 적용, 90x48 크기 비율로 이미지 등록 되어야 된다. -->
                                            <img src="plugins/entrada_theme/src/Components/Themes/Entrada/assets/img/icon-logo-simbol.png" alt="로고 심볼 아이콘" class="widget-xe-eastern-spot-slide-slider__item-content-image">
                                        </span>
                                        <h2 class="widget-xe-eastern-spot-slide-slider__item-content-title">Enjoy your divine stay2</h2>
                                        <p class="widget-xe-eastern-spot-slide-slider__item-content-text">
                                            우리의 일상을 리프레쉬하고 새로운 시작을 위한 편안한 <br> 서비스를 제공하는 에오스의 빛이 머무는 곳2
                                        </p>
                                        <!-- <a href="#" class="widget-xe-eastern-spot-slide-slider__item-content-link">자세히 보기</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-xe-eastern-spot-slide-slider__item-box" style="background-image: url(plugins/entrada_theme/src/Components/Themes/Entrada/assets/img/xe-renewal-slide3.jpg);">
                            <div class="xe-container">
                                <div class="widget-xe-eastern-spot-slide-slider__item">
                                    <div class="widget-xe-eastern-spot-slide-slider__item-content">
                                        <span class="widget-xe-eastern-spot-slide-slider__item-content-image-box">
                                            <!-- [D] 로고 심볼 아이콘 이미지 옵션으로 적용, 90x48 크기 비율로 이미지 등록 되어야 된다. -->
                                            <img src="plugins/entrada_theme/src/Components/Themes/Entrada/assets/img/icon-logo-simbol.png" alt="로고 심볼 아이콘" class="widget-xe-eastern-spot-slide-slider__item-content-image">
                                        </span>
                                        <h2 class="widget-xe-eastern-spot-slide-slider__item-content-title">Enjoy your divine stay3</h2>
                                        <p class="widget-xe-eastern-spot-slide-slider__item-content-text">
                                            우리의 일상을 리프레쉬하고 새로운 시작을 위한 편안한 <br> 서비스를 제공하는 에오스의 빛이 머무는 곳3
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- //main-spot 위젯 영역 -->
            </div>
        </div>
        <!-- //메인 슬라이드 위젯 -->

        <!-- special rooms 슬라이드 위젯 -->
        <div class="xe-row">
            <div class="xe-col-md-12">
                <section class="section-widget-xe-eastern-specialroom-slide">
                    <h2 class="widget-xe-eastern-specialroom-slide__title">SPECIAL ROOM</h2>
                    <!-- area-room-slide -->
                    <div class="widget-xe-eastern-specialroom-slide-box">
                        <ul class="widget-xe-eastern-specialroom-slide-content-list">
                            <li>
                                <div class="widget-xe-eastern-specialroom-slide-content__content">
                                    <strong class="widget-xe-eastern-specialroom-slide-content__content-title">이그제큐티브 디럭스1</strong>
                                    <p class="widget-xe-eastern-specialroom-slide-content__content-text">도시적인 감성과 편안함이 공존하는 앰버서더 스위트는 한강이 한눈에 내려다보이는 전망과 그레이와 화이트 컬러의 세련된 인테리어를 갖추고 있습니다. 개별 다이닝 테이블과 프라이빗 바가 준비된 넓은 거실, 독립된 침실 공간을 비롯하여 미니 드레스룸과 넓은 욕실이 특별함을 선사합니다.</p>
                                    <div class="widget-xe-eastern-specialroom-slide-content__link-box">
                                        <a href="#" class="widget-xe-eastern-specialroom-slide-content__link">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="widget-xe-eastern-specialroom-slide-content__content">
                                    <strong class="widget-xe-eastern-specialroom-slide-content__content-title">이그제큐티브 디럭스2</strong>
                                    <p class="widget-xe-eastern-specialroom-slide-content__content-text">도시적인 감성과 편안함이 공존하는 앰버서더 스위트는 한강이 한눈에 내려다보이는 전망과 그레이와 화이트 컬러의 세련된 인테리어를 갖추고 있습니다. 개별 다이닝 테이블과 프라이빗 바가 준비된 넓은 거실, 독립된 침실 공간을 비롯하여 미니 드레스룸과 넓은 욕실이 특별함을 선사합니다.</p>
                                    <div class="widget-xe-eastern-specialroom-slide-content__link-box">
                                        <a href="#" class="widget-xe-eastern-specialroom-slide-content__link">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="widget-xe-eastern-specialroom-slide-content__content">
                                    <strong class="widget-xe-eastern-specialroom-slide-content__content-title">이그제큐티브3</strong>
                                    <p class="widget-xe-eastern-specialroom-slide-content__content-text">도시적인 감성과 편안함이 공존하는 앰버서더 스위트는 한강이 한눈에 내려다보이는 전망과 그레이와 화이트 컬러의 세련된 인테리어를 갖추고 있습니다. 개별 다이닝 테이블과 프라이빗 바가 준비된 넓은 거실 입니다.</p>
                                    <div class="widget-xe-eastern-specialroom-slide-content__link-box">
                                        <a href="#" class="widget-xe-eastern-specialroom-slide-content__link">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div class="widget-xe-eastern-specialroom-slide __widget-xe-eastern-specialroom-slide">
                            <div class="widget-xe-eastern-specialroom-slide__item-slide" style="background-image:url('plugins/entrada_theme/src/Components/Themes/Entrada/assets/img/xe-renewal-slide1.jpg');">
                                <!-- [D] 슬라이드 타이틀 텍스트 적용 -->
                                <span class="blind">PREMIUM SUITE</span>
                            </div>
                            <div class="widget-xe-eastern-specialroom-slide__item-slide" style="background-image:url('plugins/entrada_theme/src/Components/Themes/Entrada/assets/img/xe-renewal-slide1.jpg');">
                                <!-- [D] 슬라이드 타이틀 텍스트 적용 -->
                                <span class="blind">DELUXE TERRACE</span>
                            </div>
                            <div class="widget-xe-eastern-specialroom-slide__item-slide" style="background-image:url('plugins/entrada_theme/src/Components/Themes/Entrada/assets/img/xe-renewal-slide1.jpg');">
                                <!-- [D] 슬라이드 타이틀 텍스트 적용 -->
                                <span class="blind">STANDARD</span>
                            </div>
                        </div>
                    </div>
                    <!-- // area-room-slide -->
                </section>
            </div>
        </div>
        <!-- //special rooms 슬라이드 위젯 -->

        <!-- 게시물 이미지 리스트 위젯 -->
        <div class="xe-row">
            <div class="xe-col-md-12">
                <!-- 게시물 이미지 리스트 위젯 시작 -->
                <section class="section-widget-xe-eastern-board-image">
                    <div class="xe-container">
                        <div class="widget-xe-eastern-board-image__info">
                            <h2 class="widget-xe-eastern-board-image__info-title">
                                COLORFUL DAEGU
                                <a href="#" class="widget-xe-eastern-board-image__info-title-link" title="게시물 전체보기 페이지 이동">
                                    <span class="widget-xe-eastern-board-image__icon-round-arrow"></span>
                                    <span class="blind">전체보기</span>
                                </a>
                            </h2>
                            <!-- <p class="widget-xe-eastern-board-image__info-text">XE3로 만들어진 놀라운 사이트들을 보세요. 블로그, 홈페이지, 쇼핑몰, 채용, 예약 사이트 등 무엇이든지 제작 가능합니다. 호스팅 서비스로 바로 엑스프레스엔진을 시작하여, 직접 웹사이트를 만들어 볼 수 있습니다. 고급 기능과 디자인을 추가하고 싶다면 XE Store도 확인해보세요. 브랜딩, 홈페이지 제작, 교육, 유지보수 서비스로 더욱 강력한 홈페이지를 만드세요. XEHub가 도와드리겠습니다.</p> -->
                        </div>
                        <ul class="widget-xe-eastern-board-image-list">
                            <li>
                                <div class="widget-xe-eastern-board-image-list__item">
                                    <a href="#" class="widget-xe-eastern-board-image-list__item-link" title="게시물 상세 페이지 이동">
                                        <span class="widget-xe-eastern-board-image-list__item-image-box">
                                            <!-- [D] 이미지 적용 -->
                                            <span class="widget-xe-eastern-board-image-list__item-image" style="background-image: url(plugins/entrada_theme/src/Components/Themes/Entrada/assets/img/widget-xe-production-site-list-lavalse.jpg);">
                                                <span class="blind">배경이미지</span>
                                            </span>
                                        </span>
                                        <span class="widget-xe-eastern-board-image-list__item-text-box">
                                            <!-- [D] 이미지 아이콘 추가 -->
                                            <span class="widget-xe-eastern-board-image-list__item-icon">
                                                <span class="widget-xe-eastern-board-image__icon-round-arrow"></span>
                                            </span>
                                            <!-- [D] 제목, 카테고리 적용 -->
                                            <span class="widget-xe-eastern-board-image-list__item-title">낭만 가득한 드라마 촬영지</span>
                                            <span class="widget-xe-eastern-board-image-list__item-category">호텔주변 관광지</span>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="widget-xe-eastern-board-image-list__item">
                                    <a href="#" class="widget-xe-eastern-board-image-list__item-link">
                                        <span class="widget-xe-eastern-board-image-list__item-image-box">
                                            <span class="widget-xe-eastern-board-image-list__item-image" style="background-image: url(plugins/entrada_theme/src/Components/Themes/Entrada/assets/img/widget-xe-production-site-list-medici.jpg);">
                                                <span class="blind">배경이미지</span>
                                            </span>
                                        </span>
                                        <span class="widget-xe-eastern-board-image-list__item-text-box">
                                            <span class="widget-xe-eastern-board-image-list__item-icon">
                                                <span class="widget-xe-eastern-board-image__icon-round-arrow"></span>
                                            </span>
                                            <span class="widget-xe-eastern-board-image-list__item-title">낭만 가득한 드라마 촬영지</span>
                                            <span class="widget-xe-eastern-board-image-list__item-category">호텔주변 관광지</span>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="widget-xe-eastern-board-image-list__item">
                                    <a href="#" class="widget-xe-eastern-board-image-list__item-link">
                                        <span class="widget-xe-eastern-board-image-list__item-image-box">
                                            <span class="widget-xe-eastern-board-image-list__item-image" style="background-image: url(plugins/entrada_theme/src/Components/Themes/Entrada/assets/img/widget-xe-production-site-list-oss.jpg);">
                                                <span class="blind">배경이미지</span>
                                            </span>
                                        </span>
                                        <span class="widget-xe-eastern-board-image-list__item-text-box">
                                            <span class="widget-xe-eastern-board-image-list__item-icon">
                                                <span class="widget-xe-eastern-board-image__icon-round-arrow"></span>
                                            </span>
                                            <span class="widget-xe-eastern-board-image-list__item-title">낭만 가득한 드라마 촬영지</span>
                                            <span class="widget-xe-eastern-board-image-list__item-category">호텔주변 관광지</span>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="widget-xe-eastern-board-image-list__item">
                                    <a href="#" class="widget-xe-eastern-board-image-list__item-link">
                                        <span class="widget-xe-eastern-board-image-list__item-image-box">
                                            <span class="widget-xe-eastern-board-image-list__item-image" style="background-image: url(plugins/entrada_theme/src/Components/Themes/Entrada/assets/img/widget-xe-production-site-list-homespace.jpg);">
                                                <span class="blind">배경이미지</span>
                                            </span>
                                        </span>
                                        <span class="widget-xe-eastern-board-image-list__item-text-box">
                                            <span class="widget-xe-eastern-board-image-list__item-icon">
                                                <span class="widget-xe-eastern-board-image__icon-round-arrow"></span>
                                            </span>
                                            <span class="widget-xe-eastern-board-image-list__item-title">낭만 가득한 드라마 촬영지</span>
                                            <span class="widget-xe-eastern-board-image-list__item-category">호텔주변 관광지</span>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="widget-xe-eastern-board-image-list__item">
                                    <a href="#" class="widget-xe-eastern-board-image-list__item-link">
                                        <span class="widget-xe-eastern-board-image-list__item-image-box">
                                            <span class="widget-xe-eastern-board-image-list__item-image" style="background-image: url(plugins/entrada_theme/src/Components/Themes/Entrada/assets/img/widget-xe-production-site-list-night.jpg);">
                                                <span class="blind">배경이미지</span>
                                            </span>
                                        </span>
                                        <span class="widget-xe-eastern-board-image-list__item-text-box">
                                            <span class="widget-xe-eastern-board-image-list__item-icon">
                                                <span class="widget-xe-eastern-board-image__icon-round-arrow"></span>
                                            </span>
                                            <span class="widget-xe-eastern-board-image-list__item-title">낭만 가득한 드라마 촬영지</span>
                                            <span class="widget-xe-eastern-board-image-list__item-category">호텔주변 관광지</span>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="widget-xe-eastern-board-image-list__item">
                                    <a href="#" class="widget-xe-eastern-board-image-list__item-link">
                                        <span class="widget-xe-eastern-board-image-list__item-image-box">
                                            <span class="widget-xe-eastern-board-image-list__item-image" style="background-image: url(plugins/entrada_theme/src/Components/Themes/Entrada/assets/img/widget-xe-production-site-list-photo.jpg);">
                                                <span class="blind">배경이미지</span>
                                            </span>
                                        </span>
                                        <span class="widget-xe-eastern-board-image-list__item-text-box">
                                            <span class="widget-xe-eastern-board-image-list__item-icon">
                                                <span class="widget-xe-eastern-board-image__icon-round-arrow"></span>
                                            </span>
                                            <span class="widget-xe-eastern-board-image-list__item-title">낭만 가득한 드라마 촬영지</span>
                                            <span class="widget-xe-eastern-board-image-list__item-category">호텔주변 관광지</span>
                                        </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- //게시물 이미지 리스트 위젯 -->
            </div>
        </div>
        <!-- //게시물 이미지 리스트 위젯 -->

    </div>
</div>
